{% extends 'base.html'%}
{% block content %}
    <div class="home-container">
        <div class="brand-title">
            <h3 class="brand-name-index">Boomeat</h3>
            <div class="msg-intro">
                <div>The ultimate social media to share restaurant</div>
                <div>Food lover platform to share their recommendation and review</div><br>
                <div class="index-btn">
                    {% if not current_user.is_authenticated %}
                        <a href="{{url_for('register')}}">
                            <button class="btn-active">
                            <i class="fa-solid fa-user-plus mr-2"></i>
                            SIGN UP
                            </button>
                        </a>
                        <a href="{{url_for('login')}}">
                            <button class="btn-active">
                            <i class="fa-solid fa-right-to-bracket mr-2"></i>
                            SIGN IN
                            </button>
                        </a>
                    {% else %}
                        <a href="{{url_for('register')}}">
                            <button class="btn-disabled" disabled>
                                <i class="fa-solid fa-check mr-2"></i>
                            SIGN IN
                            </button>
                        </a>
                        <a href="{{url_for('logout')}}">
                            <button class="btn-active">
                            <i class="fa-solid fa-right-to-bracket mr-2"></i>
                            LOG OUT
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}